### JupyterNotebooks ###
**/.ipynb_checkpoints
**/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

#Spicific for Othman's machine
format/*.ipynb

# trash files
.vscode/
.idea/
__pycache__

#Specific
format/generated_vtp/*.vtu
format/generated_vtp/*.vtp
